body {
  background-color: var(--cyan);
}
div {
  margin: 1%;
}
div:hover {
  background-color: var(--teal);
}

h1 {
  text-align: center;
}

.characters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
