/* Code for exercise 02-navbar */
/*@media screen and (max-width: 600px) {
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background: linear-gradient(to right, teal, black);
  }
  .nav {
    position: fixed;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
  }
  li {
    float: left;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    text-align: center;
    padding: 8px 12px;
  }

  li a:hover {
    background-color: grey;
  }
}

@media screen and (max-width: 400px) {
  /* Code for exercise 02-navbar */
/*ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background: linear-gradient(to right, teal, black);
  }

  li {
    float: center;
  }

  li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    text-align: center;
    padding: 10px 16px;
  }

  /* Change the link color to #111 (black) on hover */
/*li a:hover:active {
    background-color: grey;
  }
}

@media screen and (max-width: 1000px) {
  /* Code for exercise 02-navbar */
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, teal, black);
  }

  li {
    float: center;
  }

  li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    text-align: center;
    padding: 10px 16px;
  }

  /* Change the link color to #111 (black) on hover */
/*li a:hover {
    background-color: #111;
  }
}

/* Code for exercise 03-flex */
/*.flex-container {
  display: flex;
  flex-flow: column-reverse wrap;
  height: 300px;
}

.flex-item.item1 {
  order: 1;
}
.flex-item.item2 {
  order: 6;
}
.flex-item.item3 {
  order: 5;
}
.flex-item.item4 {
  order: 4;
}
.flex-item.item5 {
  order: 2;
}
.flex-item.item6 {
  order: 12;
}
.flex-item.item7 {
  order: 8;
}
.flex-item.item8 {
  order: 3;
}
.flex-item.item9 {
  order: 7;
}
.flex-item.item10 {
  order: 20;
}
*/

/*

body {
    margin: 40px;
    border-width: medium;
    border-style: solid;
    width: 525px;
    height: 600px;
  }
  .grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100px 100px 100px;
    grid-auto-columns: 100px;
    background-color: #fff;
    color: magenta;
  }
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 25px;
    font-size: 150%;
  }
  
  .item1 {
    grid-column: 1/3;
    grid-row: 1;
  }
  .item2 {
    grid-column: 1;
    grid-row: 2;
  }
  .item3 {
    grid-column: 3/6;
    grid-row: 1/7;
  }
  .item4 {
    grid-column: 2;
    grid-row: 2;
  }
  .item5 {
    grid-column: 1/3;
    grid-row: 3/8;
  }
  .item6 {
    grid-column: 3/4;
    grid-row: 7;
  }
  .item7 {
    grid-column: 4/5;
    grid-row: 7;
  }
  .item8 {
    grid-column: 5/5;
    grid-row: 7;
  }
  .item9 {
    grid-column: 1;
    grid-row: 8;
  }
  .item10 {
    grid-column: 2/6;
    grid-row: 8;
  }
/* Code for exercise 05-calendar */
/*
header {
  display: flex;
  align-items: center;
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  justify-content: center;
  margin-bottom: 2em;
  background: #000;
  color: #fff;
  min-height: 10vh;
  text-align: center;
}

ul,
ol {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 64em;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}

ul.weekdays {
  margin-bottom: 1em;
}

ul.weekdays li {
  height: 4vw;
}

ol.day-grid li {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  height: 12vw;
  max-height: 125px;
}

ul.weekdays abbr[title] {
  border: none;
  font-weight: 800;
  text-decoration: none;
}

ol.day-grid li:nth-child(1),
ol.day-grid li:nth-child(2),
ol.day-grid li:nth-child(3),
ol.day-grid li:nth-child(35) {
  background-color: #fff;
}

@media all and (max-width: 800px) {
  ul,
  ol {
    grid-gap: 0.25em;
  }

  ul.weekdays li {
    font-size: 0;
  }

  ul.weekdays > li abbr:after {
    content: attr(title);
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
  }
}

/* Code for exercise 06-bootstrap-grid */
.row {
  height: 100px;
}

[class*="col"] {
  /* padding: 1rem; */
  border: 2px solid #fff;
}
#box1,
#box2 {
  background-color: purple;
}

#box3 {
  background-color: navy;
}

#box4 {
  background-color: teal;
}
#box5 {
  background-color: green;
}
